@mixin d-flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin d-flex($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow($horizontal,$vertical,$blur,$spread,$color){
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    -moz-box-shadow: $horizontal $vertical $blur $spread $color;
    -o-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}